#edit-btn-style-margin .form-item{
  float: left;
  margin: 0px 10px 0px 0px;
  width: 50px;
}
#edit-btn-style-margin .form-item input{
  width: 50px;
}
#edit-btn-style-margin b{
  float: left;
  width: 100%;
}
#edit-btn-style-margin .form-item label{
  font-weight: normal;
}
#yandex-settings-form #edit-fns select{
  width: 455px;
}


/* refund */
.com-yandexpay .items.details .item{
  float: left;
  width: 100%;
  margin: 0px 0px 20px 0px;
}
.com-yandexpay .items.details{
  float: left;
  width: 100%;
  margin: 10px 0px 0px 0px;
}
.com-yandexpay .items.details .yp-name,
.com-yandexpay .items.details .dtl{
  float: left;
  width: 100%;
  margin: 0px 0px 14px 0px;
} 
.com-yandexpay .item.shipping .dtl .yp-shipping{
  display: block;
} 
.com-yandexpay .item.shipping .dtl div,
.com-yandexpay .item .dtl .yp-shipping{
  display: none;
}
.com-yandexpay .items.details .yp-name{
  font-size: 14px;
  font-weight: bold;
}
.com-yandexpay select{
  width: 150px;
}  
.com-yandexpay .items.details div{
  width: 500px;
  margin: 0px 0px 10px 0px;  
}  
.com-yandexpay .items.details span{
  float: left;
  display: block;
  width: 350px;
}  
.com-yandexpay .items.details input{
  width: 50px;
  border: 1px #ddd solid;
  padding: 4px;  
  outline:none;
}
.com-yandexpay .item.tmp{
  display: none;
}
.com-yandexpay .info {
  float: left;
  width: 100%;
  margin: 20px 0px 0px 0px;
  display: none;
}
.com-yandexpay .action{
  float: left;
}  
.com-yandexpay .action .btn{
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em;
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  width: 170px;
  border-radius: 4px;
  background: #efefef;
}
.com-yandexpay .action .btn:hover{
  background: #e3e3e3;
}